  <div>
    <img src="../../assets/logo.png" class="imagem-fundo">
  </div>

  <div class="login-container">
    <div>
      <img src="../../assets/logo_name.png" class="imagem-login">
    </div>
    <div class="login-form">
      <form (ngSubmit)="onSubmit()">
        <div class="col-12">
          <div class="form-group left-inner-addon">
            <i class="bi bi-person-circle"></i>            
            <input id="login" type="text" class="form-control"  placeholder="login"/>
          </div>
    
          <div class="form-group left-inner-addon">
            <i class="bi bi-lock"></i>       
            <input id="password" type="password" class="form-control"  name=" password" placeholder="senha" required />
          </div>      
          <button type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </div>
