<div class="container button">
  <div class="row">
    <div class="col-2 offset-md-9 mt-3">

      <div class="form-group left-inner-addon">
        <i class="bi bi-search"></i>
        <input id="search" type="text" class="form-control"  placeholder="pesquisar"/>
      </div>

    </div>
  </div>
</div>
<div class="container cards">
<!--     <img src="../../assets/logo.png" class="imagem-fundo"> -->

    <div class="row justify-content-center p-5">
      <div class="col-xl-3 col-md-4 mb-5">
      <app-card-cliente></app-card-cliente>
      </div>
      <div class="col-xl-3 col-md-4 mb-5">
        <app-card-cliente></app-card-cliente>
      </div>
      <div class="col-xl-3 col-md-4 mb-5">
        <app-card-cliente></app-card-cliente>
      </div>
      <div class="col-xl-3 col-md-4 mb-5">
        <app-card-cliente></app-card-cliente>
        </div>
    </div>
</div>
<div class="container button">
  <div class="row">
    <div class="col-2 offset-md-10 mt-3">
        <button>novo cliente</button>
    </div>
  </div>
</div>